<div class="container text-center">
  <% if current_user.present? %>
  <p class="index-user-email float-left"><%= current_user.email %></p>
  <p class="add-a-gram">
    <%= link_to new_gram_path do %>
      Add-a-gram <i class="fa fa-plus-square-o" aria-hidden="true"></i>
    <% end %>
  </p>
  <% end %>

  <% @grams.each do |g| %>
    <div class="gram-wrapper">
      <div class="row gram-row">
        <div class="col-6 gram-date">
          <%= time_ago_in_words(g.created_at) %> ago
        </div>

        <div class="col-6 gram-icons">
          <%= render partial: 'gram-top-bar', locals: { g: g }, remote: true %>

          <span class="heart-counter-<%= g.id %>"><%= g.likes.count %></span>
        </div>

      </div>
      <div>
        <%= image_tag g.picture, class: 'gram-picture' %>
      </div>
      <div class="gram-bottom-elements">
        <div class="gram-caption">
          <span class="gram-user">
            <%= g.user.email.split('@')[0] %>
          </span> <%= g.caption %>
        </div>
        <% if g.comments.present? %>
          <div class="gram-comments-listing">
            <% g.comments.each do |comment| %>
              <div><span class="gram-user">
                <%= comment.user.email.split('@')[0] %>
              </span> <%= comment.message %></div>
            <% end %>
          </div>
        <% end %>
        <div class="gram-comments-input">
          <%= simple_form_for Comment.new, url: gram_comments_path(g) do |f| %>
            <%= f.input :message %>
            <%= f.submit '+', class: 'gram-comment-button' %>
          <% end %>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  <% end %>
</div>

<script>
  $(function() {
    $('.heart-me').click(function( event ) {
      var gramToLike = $( event.target ).data('gram-id');
      $.ajax({
        type: 'POST',
        url: '/grams/' + gramToLike + '/likes'
      });
    })
  });
</script>
