<!DOCTYPE html>
<html>
  <head>
    <title>Grammable</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <nav class="navbar navbar-light bg-faded text-center">
      <%= link_to root_path, class: 'header-link' do %>
        <%= image_tag('graham-icon.png', size: '50x50', class: 'header-icon') %>
        <h1 class="navbar-brand">Gram-Cracker</h1>
      <% end %>
      <% if current_user %>
        <%= current_user.email %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to new_user_session_path, class: 'inline-nav' do %>
          Sign In <i class="fa fa-sign-in" aria-hidden="true"></i>
        <% end %>
        <%= link_to new_user_registration_path, class: 'inline-nav' do %>
          Join <i class="fa fa-user-plus" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </nav>

    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
